@model IEnumerable<BTS.Models.User>

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Start.cshtml";
}

<h2>Show</h2>

@foreach (var item in Model)
{

    if (item.Avatar != null)
    {
        var base64 = Convert.ToBase64String(item.Avatar);
        var imgsrc = string.Format("data:image/jpg;base64, {0}", base64);
        <img src="@imgsrc" />
            <br />
    }
}
